footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #f37027;
  color: #fff;
  max-width: 940px;
  bottom: 0;
  margin: 1.5em auto 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -10px 0 0 #FF7E36;
  padding-top: 1em;
  padding-bottom: .5em;
}

footer div.socials img{
  margin-left: 7px;
  margin-bottom: 0;
  vertical-align: middle;
}

footer.footer div.emailus a{
  text-decoration: none;
  color: inherit;
}