<footer class="footer">
  <div class ="emailus">
    <a href="mailto:contato@exlivraria.com?subject=Contato pelo site">
      <p>Fale Conosco!</p>
    </a>
  </div>
  <div>
  <p class="footer">© 2021 - Expansão Livraria </p>
 </div>
 <div class="socials">
  <a href="tel:555-555-5555">
  <img src="../../assets/imagens/phone.svg" alt="" />
  </a>
  <a href="https://www.instagram.com/" target="_blank">
    <img src="../../assets/imagens/instagram.svg" alt="" />
  </a>
  <a href="https://www.facebook.com/" target="_blank">
    <img src="../../assets/imagens/facebook.svg" alt="" />
  </a>
  
 </div>
</footer>
