input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border-width: 1px;
    padding-inline: 10px;
    box-sizing: border-box;
    margin-top: .3em;
}

.container {
    display: flex;
    width: 100%;
    gap: 2em;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* .formulario {
    display: flex;
    flex-wrap: wrap;
} */

.formulario, .produtos {
    /* width: 100%; */
    max-width: 100%;
}

fieldset {
    margin-bottom: 1.5em;
    border-radius: 5px;
    border-color: white;
    padding: 0.5em 1.5em;
}

legend {
    font-weight: bold;
    padding: 0 0.5em;
}

.botao {
    background-color: #F37027;
    border-radius: 5px;
    border-style: none;
    color: white;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}