<div class="shell grid">
    <div class="capa">
        <img src="{{livro.image}}" alt="">
    </div>
    <div class="conteudo">
        <div>
            <h1>{{livro.title}}</h1>
            <p class="autor">por <b>{{livro.author}}</b></p>
            <p class="descricao">Descrição do livro</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde laborum tempore ullam eum sed, magni nemo dolores itaque assumenda doloremque, possimus repellendus, ipsam corrupti debitis. Soluta enim vel aspernatur obcaecati!</p>
        </div>
        <div class="valor-car">
            <p class="valor">R${{livro.price}}</p>
            <button>Adicionar ao carrinho <i data-feather="shopping-cart"></i></button>
        </div>
    </div>
</div>