*{
    
    box-sizing: border-box;
}

header {
    width: 100%;
    background: white;
    border-top: auto;
    display: flex;
    justify-content: space-around;
    
}

.cabecalho {
    display: flex;
    position: relative;
    align-items: center; 
    justify-content: space-between;
    float: left;
    }
    
.cabecalho .menu {
        display: flex;
        position: relative;      
           }

          
.cabecalho .logo {
      display: flex;
      position: relative;   
     left: 10px;
     
         }

         .cat{
            width: 80px;
         }

         .logo{
            margin-left: -30px;
         }
         

         .menu ul a {
            color: #FF7E36;
            font-size: 20px;
            font-family: arial;
            margin-left: 40px;               
        }


       /* form {      
                        
         
           
                    } */

        form input, form button {
           
            width: 450px;
            height: 50px;
            border-radius: 1em;
            
           
         }
     

         form button {
             cursor: pointer;
             background-color: #FF7E36;
             width: 50px;
             height: 50px;
             color: whitesmoke;
         }

         .login{
            display: flex;
         }

         .login ul a {

             color: #FF7E36;
             font-size: 20px;
             font-family: arial;
          }

          a { 
              text-decoration: none;
              color: black;
              font-size: 12x;
              font-family: arial;
              display: block;
              padding:  2px ;
          }

          a:hover {
            background-color: #ec8762;
        }

        .ul3{
            padding-inline-start: 0px;
        }

        h5{
            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

          .ul2 {
              list-style: none;
              width: 200px;
              display: flex;
              flex-wrap: wrap;
           
           }

           .ul1 {
             justify-content: space-between;
    display: flex;

           }
           nav {
               
            width: 1500px;
            height: 50%;
            position: relative;
         }
     

        footer {

            width: 100%;
            height: 100px;
            color: white;
            display: flex;
            justify-content: center;
            margin-top: 80px;
            padding-top: 20px;
            
        }

     

        .footer1{

            background-color: #FF7E36ed;
            width: 80%;
            height: 80px;
            border-radius: 20px;
            font-size: 30px;
            font-family: arial;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
                box-shadow: 4px 4px  4px  rgb(207, 59, 5);

        }
        
        .imagens {  
             display: flex;
             justify-content: center;
            max-width: 100%;  
            flex-wrap: wrap;
            align-items: center;
         
            
            
        }

        .imagemGeral{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }

        .imagens2 {  
            display: flex;
           justify-content: space-between;
           max-width: 100%;  
        
           
           
       }
      
        .corpo { 
            display: flex;

         }

         .container {
             display: flex;
             
          }

          .texto {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
          }

          .imgbody{
            border-radius: 1em;
          }

          .imgbt{
            border-radius: 1em; 
          }

          .img {
              width: 170px;
              margin-left: 30px;
              width: 180px;
              border-radius: 1em;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
          }
    
          .descri {
              width: 170px;
           }
           .valor {
            width: 170px;
            color: #0fbd0f;
            font-size: 20px;
         }

           .categorias{
               width: 176px;
               font-family: arial;
               font-size: 15px;
               display: flex;
               align-items: flex-start;
               justify-content: center;
           }


           .livroslidos{
            font-size: 20px;
            margin-left: 60px;
       }

       .search{
            text-align: center;
       }

       .orange{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;       
       }

       .orange1{
        margin-right: 20px;
       }

       .text01{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;   
       }

       .text02{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;   
       }

       .colaboradores{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;   
       }

       .colab{
        border-radius: 3em;
       }

       .colab1{
           padding: 5px;
       }

       .colab3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;   
       }

       h12{
        font-size: 50px;
       }

       h13{
        font-size: 50px;
       }

       .comprando{

        background-color: #FF7E36;
        width: 40%;
        height: 40px;
        border-radius: 10px;
        font-size: 30px;
        font-family: arial;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
            box-shadow: 4px 4px  4px  rgb(207, 59, 5);

    }

    .comprando2{
        font-size: 20px;
    }

    .capaProduto{
        top: 384px;
        left:230px;
        
     }

     .AdcCarrinho{

        background-color: #FF7E36;
        width: 40%;
        height: 40px;
        border-radius: 10px;
        font-size: 30px;
        font-family: arial;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
            box-shadow: 4px 4px  4px  rgb(207, 59, 5);

    }

    .AdcCarrinho{
        font-size: 20px;
    }

    .containerp{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }

    .produtoexib{
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .produtotext{
        display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    }
