<div>
  <img src="" alt="" />
  <h3>Login</h3>
  <form action="#" method="post">
    <label for="user" class="login-user">Usuário</label>
    <input type="text" class="user-input" id="user" />
    <label for="password" class="login-password">Senha</label>
    <input type="password" class="user-password" id="password" />
    <button type="submit" class="login-btn">Entrar</button>
  </form>
  <a href="#" class="form-recuperar-senha">Esqueceu sua senha? clique aqui</a>
  <p>Não possui cadastro? <a href="#" class="form-cadastro">Registrar</a></p>
</div>
