<div class="shell">
    <app-banner [parametros]="parametros"></app-banner>
    
    <div class="conteudoGeral">
        <p>
            A proposta deste projeto é demonstrar de forma prática e visual as 
            habilidades adquiridas ao decorrer do curso.
        </p>
        
        <section>
            <h2 class="subtitulo">Principais tecnologias usadas</h2>
        
            <div class="tecnologias">
                <div>
                    <span>
                        Java
                    </span>
                </div>
            
                <div>
                    <span>
                    Java <br/> Script  
                    </span>
                </div>
            
                <div>
                    <span>
                        Type Script
                    </span>
                </div>
            
                <div>
                    <span>
                        Angular
                    </span>
                </div>
            
                <div>
                    <span>
                        MySQL
                    </span>
                </div>
            </div>
        </section>
        
        
        <section>
            <h2 class="subtitulo">Colaboradores</h2>

            <div class="colaboradores">
                <div>
                    <a href="https://www.linkedin.com/in/achiles-martins-dos-santos-0b6aba10b/" target="_blank">
                        <img src="../../../assets/imagens/achiles.png" alt="">
                        <p>Achiles Martins</p>
                    </a>
                </div>
            
                <div>
                    <a href="https://www.linkedin.com/in/adrianohcs/" target="_blank">
                        <img src="../../../assets/imagens/adriano.png" alt="">
                        <p>Adriano Henrique</p>
                    </a>
                </div>
            
                <div>
                    <a href="https://www.linkedin.com/in/bruno-sabi%C3%A1-25172873/" target="_blank">
                        <img src="../../../assets/imagens/bruno.png" alt="">
                        <p>Bruno Sabiá</p>
                    </a>
                </div>
            
                <div>
                    <a href="https://www.linkedin.com/in/desenvigor/" target="_blank">
                        <img src="../../../assets/imagens/igor.png" alt="">
                        <p>Igor Aguiar</p>
                    </a>
                </div>
            
                <div>
                   <a href="https://www.linkedin.com/in/rafael-alheiros-969257195/" target="_blank">
                        <img src="../../../assets/imagens/rafael.png" alt="">
                        <p>Rafael Alheiros</p>
                   </a>
                </div>
            </div>
        </section>
    </div>
</div>