.banner {
  background-image: url("../../../assets/banner/background-img.jpg");
  background-size: 100%;
  background-position: center;
  display: flex;
  height: 180px;
  padding: 25px;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
}

.presentation-banner.title {
  width: 40%;
}

.presentation-banner h3 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.presentation-banner h4 {
  font-size: 20px;
  margin: 0;
} 

@media (max-width: 600px) {
  .banner {
    display: none;
  }
}