<div class="shell container" >
    <div class="produtos">
        <app-carrinho [itensCarrinho]="itensCarrinho" [total]="total" comprar="true"></app-carrinho>
    </div>
    <form (submit)="onSubmit()" class="formulario">
        <h2>Informe seus dados</h2>
        <fieldset>
            <legend>Dados de entrega</legend>
            <p>
                <label>
                    Endereço (contendo número)
                    <input [(ngModel)]="endereco" name="endereco" type="text" />
                </label>
            </p>
            <p>
                <label>
                    CEP
                    <input [(ngModel)]="cep" name="cep" type="text" />
                </label>
            </p>
        </fieldset>
        <fieldset>
            <legend>Dados pessoais</legend>
            <p>
                <label>
                    Nome completo
                    <input [(ngModel)]="nome" name="nome" type="text" />
                </label>
            </p>
            <p>
                <label>
                    Email
                    <input [(ngModel)]="email" name="email" type="text" />
                </label>
            </p>
        </fieldset>
        <button (click)="onSubmit()" class="botao">Finalizar compra</button>
    </form>
</div>