.barra {
  background-color: rgb(255, 255, 255);
  color: #F37027;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "navegacao busca menu";
}

@media (max-width: 600px) {
  .barra {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "navegacao menu"
                         "busca busca";
  }
}

.navegacao {
  display: flex;
  align-items: center;
  gap: 20px;
  grid-area: navegacao;
}

.navegacao nav {
    display: flex;
    gap: 20px;
}

.navegacao nav a {
  color: #F37027;
  text-decoration: none;
}

.busca {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-area: busca;
}

.busca input {
  width: 100%;
  height: 42px;
  border-radius: 5px;
  border-width: 1px;
  box-sizing: border-box;
  padding-inline: 10px;
}

.busca button {
    background-color: #F37027;
    border-radius: 5px;
    border-style: none;
    color: white;
    height: 42px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 .8em;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin-right: 15px;
  grid-area: menu;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    cursor: pointer;
}

.icon-login {
  background-color: #f37027;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-user, .login-password {
  font-weight: 550;
}

.user-input, .user-password {
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(155, 155, 155);
  margin-bottom: 15px;
}

.user-input::placeholder, .user-password::placeholder{
  padding-left: 5px;
}

.login-btn {
  width: 150px;
  align-self: center;
  height: 40px;
  background-color: #f37027;
  border-radius: 10px;
  border-style: none;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
}

p {
  color: #000;
}

.form-recuperar-senha {
  width: 180px;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.form-recuperar-senha strong {
  color: #f37027;
}

.form-cadastro {
  color: #f37027;
  font-weight: bold;
  cursor: pointer;
}

.mensagemErro {
  color: 	#FF0000;
  font-size: 12px;
  margin-top: 0;
}

.categorias {
  position: relative;
}
.categorias-dropdown {
  display: none;
}
.categorias:hover .categorias-dropdown {
  display: block;
  position: absolute;
  top: 100%;
}

.btn-category{
  width: 130px;
  height: 30px;
  padding: 5px;
  background-color: #F37027;
  border-radius: 3px;
  margin: 1px;
  border: 1mm solid #F37027;
  box-shadow: 1px 1px 5px #b1511d;
}

a.category-link{
  font-size: 14px;
  font-weight: 500;
}

.btn-category:hover{
  border-width: 2px;
  border-color: #f3935f;
}

.carregar {
background-color: rgba(0, 0, 0, .5);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
font-size: 1em;
}

.livroCarregando {
  width: 100px;
  height: 100px;
  color: #fff;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}