@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: inter;
    margin: 0;
    position: relative;
}

.shell {
    max-width: 1200px;
    padding-left: 1em;  
    padding-right: 1em;
    margin: auto;
  }
