<p class="titulo" *ngIf='!comprar'>Carrinho</p>
<p class="titulo" *ngIf="comprar">Seus produtos</p>

<div class="conteudo-carrinho" *ngFor="let item of itensCarrinho; let i = index">
    <div>
        <img class="capa" src="{{item.image}}" alt="">
    </div>

    <div class="informacoes">
        <div class="informacoes">
            <p class="nome">{{item.title}}</p>
            <p>{{item.author}}</p>
        </div>
        <div class="valores">
            <p class="valor">R${{item.price}}</p>
        </div>
    </div>
    <div>
        <button type="submit" *ngIf='!comprar' class="Xbutton" (click)="removerDoCarrinho(i)">
        <img src="../../../assets/imagens/x.svg" alt="">
        </button>
    </div>
</div>

<div class="finalizar">
    <p>Valor total da compra <span class="total">R${{total.toFixed(2)}}</span></p>
    <button class="comprar"  
    (click)="finalizarCompra()" 
    *ngIf="!comprar && itensCarrinho.length">Finalizar pedido</button>
    <button class="comprar" 
    routerLink="/" 
    (click)="modalCarrinho.fecharModal()" 
    *ngIf="!comprar && !itensCarrinho.length">Continuar comprando</button>
</div>